# Default ignored files
/shelf/
/compiler.xml
/AndroidProjectSystem.xml
/deploymentTargetSelector.xml
/gradle.xml
/migrations.xml
/misc.xml
/runConfigurations.xml
/studiobot.xml
/vcs.xml
/workspace.xml
